<app-menu></app-menu>

<div class="container">
    <h1>Lista de Livros</h1>
    <input type="text" >

    <button class="btn btn-primary" (click)="buscar()">Buscar</button>

    <table class="table" *ngIf="resultados === true">
        <tr>
            <p>resultados para {{busca}}</p>
        </tr>
        <tr>
            <th></th>
            <th>Titulo</th>
            <th>Preço</th>
            <th></th>
        </tr>
        <tr *ngFor="let livro of itens">
<td><img src="{{livro.imgUrl}}" width="70"/></td>
<td>{{livro.titulo}}</td>
<td>{{livro.preco | currency:'BRL'}}</td>
<td><a [routerLink]="['/livros/',livro.id]" class="btn btn-warning">Vizualizar</a></td>
        </tr>
    </table>
    <div *ngIf="resultados === false">Nenhum Livro Encontrado</div>
</div>
